body{
  background-color: darkcyan;
}

#app {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  padding: 0;
  margin: 0;
  list-style: none;
}
